<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <!-- <script src="script.js" defer></script> -->
    <script src="newScript.js" defer></script>

    <script>
        const roomId = "<%=roomId %>"
        console.log(roomId)
    </script>

    <title>ant Video Chat</title>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #video-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
            gap: 50px;

            width: 100%;
            height: 100dvh;
            box-sizing: border-box;

            padding-bottom: 3%;
            position: relative;
            cursor: pointer;
            background-color: #1c1b1b;

        }

        video {
            margin: auto;
            width: 90%;
            height: 20vh;
            object-fit: cover;
            box-sizing: border-box;
            z-index: 2;

            grid-row-start: 5;
            order: 2;
            border-radius: 5%;
            box-shadow: 0px 10px 14px 2px #1c1b1b;
        }

        video:hover {
            box-shadow: 0px 10px 14px 7px #1c1b1b;
            scale: 1.05;
        }

        video.main {

            z-index: 0;
            position: fixed;
            top: 0;
            left: 0;
            height: 90vh;
            width: 100vw;
            border-radius: 0;
            box-shadow: none;

            cursor: default;
        }

        video.main:hover {
            scale: 1;
            box-shadow: none;
        }

        .controllers {
            position: fixed;
            z-index: 5;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: fit-content;

            display: flex;
            justify-content: center;
            gap: 5vw;

        }

        .controllers button {
            background-color: #4f9a25;
            border-radius: 50%;
            padding: 20px;

            width: 80px;
            height: 80px;
            cursor: pointer;
        }

        #invite:hover {
            background-color: #6eca3a;
        }

        #cut-call {
            background-color: #b02828;
        }

        #cut-call:hover {
            background-color: #d53e3e;
        }

        .controllers img {
            width: 100%;
            border-radius: 10%;
            object-fit: contain;
        }


        /* invite people section starts form here  */
        #create-room {

            box-sizing: border-box;
            width: 90%;
            height: fit-content;
            max-width: 600px;
            border-radius: 10px;
            background-color: #363739;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            display: none;
            flex-direction: column;

            align-items: center;
            justify-content: center;
            padding: 10px;
            padding-top: 70px;
            padding-bottom: 70px;

            z-index: 10;
        }

        #create-room p {
            font-size: 20px;
            text-align: center;
            color: white;
        }

        #create-room .info {
            display: flex;
            gap: 1rem;

            align-items: center;
            justify-content: center;

            font-size: 18px;
            color: antiquewhite;
            margin-bottom: 1rem;
        }

        #note {
            font-size: 1rem;
            margin: 1rem;

        }

        .copy-btn {
            text-decoration: underline;
            padding: 5px;
        }

        #status {
            font-size: 20px;
            border: 1px solid black;
            padding: 5px;
            border-radius: 10px;
            /* background-color: #56955d; */
            visibility: hidden;
        }


        #cancel {
            background-color: transparent;
            border-radius: 50%;
            height: 50px;
            width: 50px;

            position: absolute;
            top: 5px;
            right: 5px;
        }

        #cancel img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    </style>
</head>

<body>
    <div id="video-grid">
        <video id="myVideo" class="main" autoplay muted playsinline></video>
    </div>

    <div class="controllers">
        <button id="cut-call" onclick="cutCall()">
            <img src="/icons/camera.png" alt="" />
        </button>
        <button id="invite" onclick="invite()">
            <img id="invite" src="/icons/invite.png" alt="invite" />
        </button>
    </div>

    <div id="create-room">
        <p>Copy the room ID <span style="color:yellow">OR</span> the link directly and share to invite</p>

        <p id="note">Click on the underlined text to copy !</p>

        <div class="info">
            <p>Room ID: <button id="room-id" class="copy-btn"></button></p>
        </div>

        <div class="info">
            <p>Room URL: <button id="room-link" class="copy-btn"></button></p>
        </div>

        <p id="status">&#129299; Copied</p>

        <button id="cancel" onclick="hideCancel()">
            <img src="/icons/cancel.png" alt="cancel btn">
        </button>
    </div>

</body>

</html>